body {
    background-color: powderblue;
}

h1  {
    background-color: pink;
    font-size: 100px;
    color: blue;
    text-align: center;
}

.Tardes {
    font-size: 40px;
    background-color:seagreen;
    color:firebrick;
    text-align: center;
}

.Noches {
    font-size: 30px;
    background-color:blue;
    border-radius: 5px;
    
}